.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

h1, p{
  margin:0;
}

.body{
  margin: 20px 0 0 0;
  height: 80%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.HomeButtons{
  height: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.HomeButton{
  font-size: 13px;
  text-transform: uppercase;
  width: 40vh;
  margin: 0 0 0 0;
  padding: 20px;
  background: linear-gradient( #7297ff , #aba9ff);
  border: none;
  outline: none;
  color: white;
  border-radius: 40px;
  cursor: pointer;
}

.HomeButton:hover {
  background: #827ffe;
}

.HomeButton:active {
  background: #514cfe;
}

.Expense{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid #827ffe;
  border-radius: 20px;
  width: 250px;
  min-height: 300px;
  max-height: 360px;
  box-shadow: 2px 3px 5px #888888;
}

.Expense input{
  border: transparent;
}

.form{
  width: 100%;
  position: relative;
  height: 50px;
  overflow:hidden;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form section{
  display: absolute;
}

.form input{
  width: 100%;
  height: 80%;
  padding-top: 20px;
  border: none;
  outline: none;
  margin: 0 5px 0 5px;
}

.form label{
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
  border-bottom: 1px solid black;
  
}

.form label::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #827ffe;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name{
  position:absolute;
  bottom: 25px;
  left: 0px;
  transition: all .3s ease;
}

.form input:focus + .label-name .content-name{
  transform: translateY(-40%);
  font-size: 16px;
  color: #827ffe;
}

.form input:focus + .label-name::after{
  transform: translateX(0%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}